.header input {
    display: none;
}

.header .menu-hamburguer {
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
}

.header .menu-hamburguer .hamburguer {
    position: absolute;
    left: 5px;
    top: 30px;
    content: "";
    background-color: black;
    width: 50px;
    height: 4px;
}

.header .menu-hamburguer .hamburguer::before {
    position: absolute;
    content: "";
    background-color: black;
    top: -15px;
    width: 100%;
    height: 100%;
}

.header .menu-hamburguer .hamburguer::after {
    position: absolute;
    content: "";
    background-color: black;
    bottom: -15px;
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {

    .header .menu {
        display: none;
    }

    .header .menu-hamburguer {
        display: block;
    }

    .header input:checked~.menu {
        background-color: white;
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 70px;
        width: 200px;
    }

    .header .menu .links {
        flex-direction: column;
        align-items: center;
        font-size: 25px;
    }

}