.header input {
  display: none;
}

.header .menu-hamburguer {
  display: none;
  width: 60px;
  height: 60px;
}

.header .menu-hamburguer .hamburguer {
  background-color: #000;
  position: relative;
  display: block;
  width: 35px;
  height: 4px;
  top: 30px;
  left: 12px;
  transition: 0.5s ease-in-out;
}

.header .menu-hamburguer .hamburguer::after,
.header .menu-hamburguer .hamburguer::before {
  background-color: #000;
  position: relative;
  display: block;
  width: 35px;
  height: 4px;
  content: "";
  transition: 0.5s ease-in-out;
}

.header .menu-hamburguer .hamburguer::before {
  top: -13px;
}

.header .menu-hamburguer .hamburguer::after {
  bottom: -9px;
}

.header input:checked~label .hamburguer {
  transform: rotate(45deg);
}
.header input:checked~label .hamburguer::before {
  transform: rotate(90deg);
  top: 0px;
}
.header input:checked~label .hamburguer::after {
  display: none;
}

@media (max-width: 900px) {
  .header .menu-hamburguer {
    display: block;
  }

  .header .menu {
    display: none;
  }

  .header input:checked~.menu {
    display: flex;
    flex-direction: column;
  }


  .header .menu {
    background-color: white;
    box-shadow: -5px 5px 15px rgba(61, 61, 61, 0.699);
    width: 200px;
    padding: 20px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 70px;
    border-bottom-left-radius: 15px;
  }

}