body {
    background-color: azure;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "hero hero hero"
        "about about about"
        "services services services"
        "projects projects projects"
        "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    max-width: var(--max-width-size);
    width: 100%;
}




.header {
    grid-area: header;
    position: fixed;
    max-width: var(--max-width-size);
    width: 100%;
    z-index: 1;
    background-color: white;
    display: flex;
    height: 70px;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.header .logo h1 {
    font-size: 30px;
    transition: 0.2s ease-in;
}

.header .logo:hover {
    color: orangered;
}

.header .menu .links {
    display: flex;
    gap: 30px;
    font-size: 25px;

}

.header .menu .links li {
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s ease-in;
}

.header .menu .links li:hover {
    color: white;
    background-color: orangered;
}





.hero {
    grid-area: hero;
    display: flex;
    position: relative;
    top: 70px;
    height: 79vh;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: url(../images/lemons.jpg) no-repeat center center/cover;
}

.hero h2 {
    font-size: 50px;
    font-weight: 500;
}

@-webkit-keyframes animacao-seta {
    from {
        opacity: 0.3;
    }

    to {
        bottom: 10px;
        opacity: 0.8;
    }
}

.hero::after {
    position: absolute;
    content: url(../images/seta_preta.png);
    bottom: 20px;
    animation: animacao-seta 0.5s linear infinite alternate;
}



.about {
    grid-area: about;
    display: grid;
    position: relative;
    top: 70px;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 15%;
}

.informacoes h3 {
    font-size: 30px;
    font-weight: 700;

}

.informacoes a {
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s ease-in;
}

.informacoes a:hover {
    color: aliceblue;
    background-color: orangered;
}

.about .images.right {
    background: url(../images/bridge.jpg) center center/cover;
}

.about .images.left {
    background: url(../images/sky.jpg) center center/cover;
}





.services {
    grid-area: services;
    display: grid;
    position: relative;
    top: 70px;
    grid-template-columns: repeat(2, 1fr);
}

.services .left {
    background-color: blueviolet;
}

.services .right {
    background-color: #FFB6C1;
}




.projects {
    grid-area: projects;
    background-color: burlywood;
    display: flex;
    position: relative;
    top: 70px;
}

.projects .imagens,
.projects .imagens img {
    height: 100%;
}

.projects .imagens a {
    transition: 0.3s ease-in;

}

.projects .imagens a:hover {
    opacity: 0.6;
}




.footer {
    grid-area: footer;
    background-color: #90EE90;
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
}

.footer .menu .links,
.footer .social {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer .logo,
.footer .menu .links li,
.footer .social a {
    transition: 0.3s ease-in;
}

.footer .logo:hover,
.footer .menu .links li:hover,
.footer .social a:hover {
    color: white;
}

.footer .social a {
    font-size: 35px;
}